UsingHugeInteger/xml-resources/web-service-references/HugeInteger/wsdl/localhost_8080/HugeInteger/HugeInteger.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ch28.jhtp7.deitel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ch28.jhtp7.deitel.com/" name="HugeInteger">
<types>
<xsd:schema>
<xsd:import namespace="http://ch28.jhtp7.deitel.com/" schemaLocation="http://localhost:8080/HugeInteger/HugeInteger?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="equals">
<part name="parameters" element="tns:equals"/>
</message>
<message name="equalsResponse">
<part name="parameters" element="tns:equalsResponse"/>
</message>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<message name="smaller">
<part name="parameters" element="tns:smaller"/>
</message>
<message name="smallerResponse">
<part name="parameters" element="tns:smallerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="bigger">
<part name="parameters" element="tns:bigger"/>
</message>
<message name="biggerResponse">
<part name="parameters" element="tns:biggerResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<portType name="HugeInteger">
<operation name="add">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/addRequest" message="tns:add"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/addResponse" message="tns:addResponse"/>
</operation>
<operation name="equals">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/equalsRequest" message="tns:equals"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/equalsResponse" message="tns:equalsResponse"/>
</operation>
<operation name="toString">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/toStringResponse" message="tns:toStringResponse"/>
</operation>
<operation name="smaller">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/smallerRequest" message="tns:smaller"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/smallerResponse" message="tns:smallerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="bigger">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/biggerRequest" message="tns:bigger"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/biggerResponse" message="tns:biggerResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://ch28.jhtp7.deitel.com/HugeInteger/subtractResponse" message="tns:subtractResponse"/>
</operation>
</portType>
<binding name="HugeIntegerPortBinding" type="tns:HugeInteger">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="equals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="smaller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bigger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HugeInteger">
<port name="HugeIntegerPort" binding="tns:HugeIntegerPortBinding">
<soap:address location="http://localhost:8080/HugeInteger/HugeInteger"/>
</port>
</service>
</definitions>